@font-face {
    font-family: Institute;
    src: url("lt_institute.otf");

}
body{
    background-color: #DAC3EF;
    margin: 0;
    font-family: Institute;
    color: #170132;
    font-size: 18px;
}
.titulo{
    background: -webkit-linear-gradient(#7030AA 0%, #FFB5B5 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
}

#navbar{
    position: fixed;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    background: #000;
    background: linear-gradient(0deg, #120C2A 0%, #31154B 100%);
    align-items: center;
    display: flex;
    padding: 0.1% 10%;
    top: 0;
    z-index: 10000;
}

#navbar a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.navitem{
    font-size: 18px;
}

.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + content{
    padding-top: 60px;
}

.fondobox{
    background-color: #31154B;
    width: 100%;
    height: 100vh;
    background-image: url('images/fondo_flexed.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-content: center;
    min-height: 200px;
    box-sizing: border-box;
    display: flex !important;
}

.bigseparator{
    width: 100%;
    height: 70px;
    background: #000;
    background: linear-gradient(0deg, #120C2A 0%, #31154B 100%);
    padding: 2% 10%;
}

.bigfootseparator{
    width: 100%;
    height: 100px;
    background: #000;
    background: linear-gradient(0deg, #120C2A 0%, #31154B 100%);
    padding: 2% 5%;
    display: flex !important;
    justify-content: space-between;
}

.txt_titulo{
    color: #7030AA;
    font-size: 32px;
    padding-right: 40%;
}

.txt{
    color: #170132;
    font-size: inherit;
    padding-right: 15%;
}

.imagebox{
    padding-left: 5%;
    display: flex;
}

.image {
    flex: 0 0 auto;
    margin-right: 10%;
  }

#chavez{
    margin-top: 2%;
    width: 25%;
    height: 25%;
}

.flexed{
    margin-top: 100px;
    width: auto;
    height: auto;
    display: block;
}

.copyright{
    color: #c29ce48a;
    font-size: 24px;
}

.foot_icons{
    justify-content: end;
    display: flex;
    list-style-type: none;
}

.icon_table{
    justify-content: end;
    display: flex;
    margin-right: 5%;
    margin-top: 8%;
}

.icon_table td{
    width: 400px;
    height: 280px;
}

.progico{
    padding-top: 44px;
}

.pagico{
    padding-top: 9px;
}

svg{
    fill: #fff;
}

.artimg{
    content: url("images/button_arte.png");
    width: 300px;
}

.progimg{
    content: url("images/button_prog.png");
}

.vidimg{
    content: url("images/button_video.png");
    width: 300px;
}

.otrimg{
    content: url("images/button_otro.png");
    width: 300px;
}

.artimg:hover{
    cursor: pointer;
    content: url("images/hover_arte.png");
    width: 300px;
}

.progimg:hover{
    cursor: pointer;
    content: url("images/hover_prog.png");
    width: 300px;
}

.vidimg:hover{
    cursor: pointer;
    content: url("images/hover_video.png");
    width: 300px;
}

.otrimg:hover{
    cursor: pointer;
    content: url("images/hover_otros.png");
    width: 300px;
}

a {
    color: inherit;
    text-decoration: none;
  }

.titulo2{
    padding-left: 5%;
    color: #7030AA;
}

@media screen and (max-width: 900px){
    .fondobox{
        height: 10%;
        min-height: 200px;
    }

    .flexed{
        margin-top: 100px;
    }

    .icon_table{
        margin-right: 5%;
        margin-top: 15%;
        padding-left: 5%;
    }

    .icon_table td{
        width: 400px;
        height: 200px;
    }

    .icon_table img{
        width: 80%;
    }

    .artimg:hover{
        width: 80%;
    }
    
    .progimg:hover{
        width: 80%;
    }
    
    .vidimg:hover{
        width: 80%;
    }
    
    .otrimg:hover{
        width: 80%;
    }

    .progico{
        padding-top: 30px;
    }

    .pagico{
        padding-top: 5px;
    }

    .txt_titulo{
        font-size: 25px;
        padding-right: 20%;
    }

    .txt{
        color: #170132;
        font-size: 100%;
        padding-right: 15%;
    }

    #chavez{
        margin-top: 2%;
        width: 30%;
        height: 30%;
        align-items: center;
    }
    
}

@media screen and (max-width: 700px){
    .titulo{
        font-size: 130%;
    }

    .navitem{
        font-size: 70%;
    }

    #navbar{
    padding: 0.1% 5%;
    }

    .flexed{
        margin-top: 15%;
        z-index: 0;
        opacity: 50%;
        width: auto;
        height: auto;
        display: block;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
    }

    .icon_table{
        position: relative;
        z-index: 2;
        margin-right: 0;
    }

    .fondobox{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .artimg:hover{
        width: 80%;
    }
    
    .progimg:hover{
        width: 80%;
    }
    
    .vidimg:hover{
        width: 80%;
    }
    
    .otrimg:hover{
        width: 80%;
    }

    .progico{
        padding-top: 24px;
    }

    .pagico{
        padding-top: 5px;
    }

    .txt_titulo{
        font-size: 20px;
        padding-right: 10%;
    }

    .txt{
        color: #170132;
        font-size: 70%;
        padding-right: 15%;
    }

    .imagebox{
        flex-direction: column-reverse;
        align-items: center;
    }

    #chavez{
        margin-top: 0;
        padding-bottom: 20px;
        width: 50%;
        height: 50%;
        align-items: center;
    }

    .copyright{
        margin-left: 20px;
        font-size: 90%;
    }

    .bigfootseparator div{
        margin-top: 10px;
    }

    .bigfootseparator svg{
        margin-top: 10px;
    }
}

@media screen and (max-height: 900px) and (max-width: 300px) {
    .fondobox{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .flexed{
        padding-top: 15%;
    }

    .icon_table{
        padding-left: 10%;
    }

    .icon_table td{
        width: 50%;
        height: 150px;
    }

    .icon_table img{
        width: 70%;
    }

    .artimg:hover{
        width: 70%;
    }
    
    .progimg:hover{
        width: 70%;
    }
    
    .vidimg:hover{
        width: 70%;
    }
    
    .otrimg:hover{
        width: 70%;
    }

    .progico{
        padding-top: 25px;
    }

    .pagico{
        padding-top: 5px;
    }
    
}