#subpage{
    background: url("images/fondo_flexed.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #120C2A;
}

.titulosubR{
    color: #fff;
    margin-left: 130px;
    text-decoration: none;
}

.boxsub{
    margin-top: 110px;
    background: linear-gradient(90deg, #7030AA 0%, #1f083e00 100%);
    margin-right: 60%;
    height: 60px;
    position: relative;
    display: flex;
    overflow: visible;
}

.boxsub img{
    margin-left: 60px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.titulosub{
    margin-left: 200px;
    background: -webkit-linear-gradient(#7030AA 0%, #FFB5B5 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.titulosub2{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
}

.bestdibujos{
    margin-left: auto;
    margin-right: auto;
}

.tituloresub{
    color: #c29ce48a;
    font-size: 24px;
    text-align: center;
}

.infoGGEN_R{
    margin-left: 90px;
    display: flex;
}

.infoGGEN_R h1{
    color: #fff;
    padding-left: 50px;
}

.infoGGEN_R p{
    color: #fff;
    padding-left: 50px;
    font-size: 30px;
    padding-right: 90px;
}

.yt{
    display: flex;
    margin-left: 120px;
}

.ytinfo{
    color: #fff;
    font-size: 28px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

@media screen and (max-width: 700px) {
    .boxsub{
        width: 90%;
    }

    .boxsub img{
        width: 25%;
        margin-left: 5%;
    }

    .titulosub{
        margin-left: 35%;
        font-size: 180%;
    }

    .bestdibujos{
        text-align: center;
    }

    .bestdibujos img{
        width: 90%;
    }

    .tituloresub{
        font-size: 100%;
    }

    .infoGGEN_R{
        flex-direction: column;
        margin-left: 0;
    }

    .infoGGEN_R img{
        width: 90%;
        margin-left: 4%;
        padding-bottom: 5%;
    }

    .infoGGEN_R p{
        font-size: inherit;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 35%;
    }

    .yt{
        flex-direction: column;
        margin-left: 0;
    }

    .yt iframe{
        width: 90%;
        margin-left: 4.6%;
        padding-bottom: 15%;
    }

    .ytinfo{
        padding-left: 4%;
        padding-right: 4%;
    }

    .titulosubR{
        text-align: center;
        margin-left: 0;
        padding-bottom: 60%;
    }
}

@media screen and (max-height: 700px) {
    .boxsub img{
        width: 25%;
        margin-left: 5%;
    }

    .titulosub{
        margin-left: 35%;
        font-size: 180%;
    }

    .bestdibujos{
        text-align: center;
    }

    .infoGGEN_R{
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .infoGGEN_R h1{
        padding-top: 40px;
        text-align: left;
    }

    .infoGGEN_R p{
        text-align: left;
    }

    .yt{
        flex-direction: column;
        text-align: center;
    }

    .yt iframe{
        margin-left: 7%;
    }

    .ytinfo{
        padding-top: 40px;
        padding-left: 0;
    }

    .titulosubR{
        text-align: center;
        margin-left: 0;
    }

}